html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 20px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    overflow: hidden;
}

@media only screen and (max-width: 1920px) {
    
    html, body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1440px) {
    
    html, body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    
    html, body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px) {
    
    html, body {
        position: absolute;
    }
}

topnav {
    width: 100vw;
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 7px;
}

.topnavItems{
        cursor: pointer;
    transition: .1s;
}

.push{
    display: block;
    width: 100vw;
    height: 3rem;
}

.content{
    width: 90vw;
    margin-left: 5vw;
    display: block;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

.motto1{
    position: absolute;
    top: 30vh;
    left: 30vw;
    background-color: rgba(255,255,255,.5);
    color: black;
    transform: skewY(3deg);
    font-size: 3rem;
}

.motto2{
    position: absolute;
    top: 40vh;
    left: 40vw;
    background-color: rgba(0,0,0,.5);
    color: white;
    transform: skewY(3deg);
    font-size: 3rem;
}

#contactContent{
    text-align: center;
    
}

.project{
    height: 12vh;
    width: 100%;
    margin-bottom: 3vh;
    font-size: 1rem;
    text-align: center;
}

.project a{
    text-decoration: none;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

.project p{
    text-decoration: none;
    color: darkgray;
    font-size: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}

.projectImage{
    float: left;
    height: 100%;
}

.projectImage img{
    height: 100%;
    width: auto;
}

.info{
    font-size: 1.5rem;
}

.info a{
    text-decoration: none;
    color: black;
    transition: .2s;
}

.info:hover :not:first-child{
    color: dimgrey;
}























