body
{
	background-color:rgba(45,45,45);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#body  
{
	display: block;
	width:1700px;
	margin:auto;
}


a
{
	text-decoration:none;
	color: black;
}

a:hover
{
	text-decoration:none;
}

h1
{
	font-size: 30px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-decoration: none;
}

h2
{
	text-align: center;
	font-size: 15px;
}


h3 
{
	color: red;
	font-family: Courier New;
}

h4
{
	color: white;
	font-family: Courier New;
}

#placeholder
{
	height: 50px;
	width: 100%;
	background-color:rgba(11,11,11,0);
}

#menu
{
	width: 1700px;
	height: 50px;
	margin-bottom: 10px;
	margin-top:-10px;
	display: block;
	position: fixed;
	z-index:99;
}

li
{
	color: black;
}

ol
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
	line-height: ?;
	text-align: center;
}

ol a
{
	display: block;
	text-decoration: none;
	padding: 0 5px;
	color: white;
}

ol > li
{
	width: 100%;
}

  ol > li:first-child {
        margin-left:0;
      }

ol > li > a:hover 
{
	color: white;
}

ol > li:hover
{
	background-color: red;
	width: 100%;
}

ol > li > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}

ol > li:hover > ul 
{
  display: block;
}

ol > li > ul > li	
{
  background-color:;
  position: relative;
  height: 100%;
  
}



ol > li > ul > li:hover a {
  color:#white;
}

.kom2
{
	margin: 0px;
	outline: none;
	background-color: white;
	width: 20%;
	height:100%;
	float: left;
	opacity: 0.4;
	font-family: Impact;
}

img:hover
{
	opacity: 0.8;
}

.kom2:hover
{
	margin: 0px;
	outline: none;
	background-color: white;
	width: 20%;
	height:285%;
	float: left;
	opacity: 0.6;
	font-family: Impact;
	position: relative;
	
}

.kom
{
	margin: 0px;
	outline: none;
	background-color: white;
	width: 20%;
	height:100%;
	float: left;
	opacity: 0.4;
	font-family: Impact;
}

.kom:hover
{
	margin: 0px;
	outline: none;
	background-color: red;
	width: 20%;
	height:100%;
	float: left;
	opacity: 0.6;
	font-family: Impact;
}

.komx
{
	margin: 0px;
	outline: none;
	background-color: white;
	width: 20%;
	height:100%;
	float: left;
	opacity: 0.4;
	font-family: Impact;
}

img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.komx:hover
{
	margin: 0px;
	outline: none;
	background-color: red;
	width: 20%;
	height:100%;
	float: left;
	opacity: 0.6;
	font-family: Impact;
}



#main
{
	width: 100%;
	height: 1000px;
	float: left;
	position: sticky;
	background: rgba(204, 204, 204, 0.15);
	text-align: center;
}

#bottombar
{
	width: 100%;
	height: 40px;
	background-color: white;
	opacity: 0.3;
	float: left;
	margin-top: 10px;
	font-family: Impact;
}

table
{
	margin: auto;
}

td, tr
{
	border: 1px solid gray;
	display: block;
	margin: auto;
}

































