html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(40,40,40);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.left{
    width: 20vw;
    height: 86vh;
    float: left;
    background-color: rgb(40,40,40);
    margin: 2%;
}

.right{
    width: 20vw;
    height: 90vh;
    float: right;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
}

.mid{
    width: 52vw;
    height: 90vh;
    background-color: rgb(50,50,50);
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 1;
}

.resources{
    height: 15%;
    width: 100%;
}

.hp{
    position: relative;
    height: 18%;
    top: 20px;
    width: 100%;
    background-color: darkred;
    padding-top: 6px;
}

.mana{
    position: relative;
    height: 18%;
    top: 50px;
    width: 100%;
    background-color: darkblue;
    padding-top: 6px;
}

.hpprc{
    position: absolute;
    top: 7vh;
}

.manaprc{
    position: absolute;
    top: 13vh;
}

.character{
    height: 30%;
    width: 100%;
    background-color: salmon;
}

.gold{padding: 10px;}

.eq{
    height: 55%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.eqSlot{
    background-color: rgb(60,60,60);
    max-width: 1fr;
}

.buttons{
    background-color: rgb(50,50,50);
    cursor: pointer;
}

.buttons:hover{
    background-color: rgb(60,60,60);
}

.statsWindow{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.statsWindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.itemshopWindow{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.itemBox{
    width: 100%;
    height: 80%;
    margin-top: 10%;
    overflow: scroll;
}

.categoryBox{
    width: 100%;
    height: 80%;
    margin-top: 10%;
}

.category1Window{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.category1WindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}


.category2Window{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.category2WindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.category3Window{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.category3WindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.category4Window{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.category4WindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.item{
    background-color: rgb(50,50,50);
    cursor: pointer;
    height: 15%;
    width: 50%;
    float: left;
}

.item:hover{background-color: rgb(60,60,60);}

.itemshopWindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.skillbookWindow{
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.skill{
    background-color: rgb(50,50,50);
    cursor: pointer;
    height: 15%;
    width: 50%;
    float: left;
}

.skill:hover{background-color: rgb(60,60,60);}

.skillInfo{
    height: 15%;
    width: 100%;
    float: left;
}

.skillbookWindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.spellpoints{
    position: absolute;
    left: 5%;
    top: 2%;
    font-size: 20px;
}

.arenaWindow {
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 2;
    display: none;
}

.death {
    width: 52vw;
    height: 90vh;
    background-color: darkred;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 99;
    display: none;
}

.arenaWindowClose{
    position: absolute;
    left: 96%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.enemyBox{
    width: 100%;
    height: 80%;
    margin-top: 10%;
    overflow: scroll;
}

.enemy{
    background-color: rgb(50,50,50);
    cursor: pointer;
    height: 15%;
    width: 50%;
    float: left;
}

.enemy:hover{background-color: rgb(60,60,60);}

.fightWindow {
    width: 52vw;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 4%;
    left: 24%;
    z-index: 4;
    display: none;
}

.fightButton{
    margin-top: 20px;
    background-color:firebrick;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}

.escapeButton{
    margin-top: 20px;
    background-color:dimgray;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}

.skillButton{
    float: left;
    cursor: pointer;
}

.skillButton img{
    width: 100%;
    margin-right: 50px;
        transition: .2s;
}

#skill1Button{display: none;}
#skill2Button{display: none;}
#skill3Button{display: none;}
#skill4Button{display: none;}
#skill5Button{display: none;}
#skill6Button{display: none;}
#skill7Button{display: none;}
#skill8Button{display: none;}
#skill9Button{display: none;}
#skill10Button{display: none;}
#skill11Button{display: none;}
#skill12Button{display: none;}
#skill13Button{display: none;}
#skill14Button{display: none;}
#skill15Button{display: none;}
#skill16Button{display: none;}
#skill17Button{display: none;}
#skill18Button{display: none;}
#skill19Button{display: none;}

.skillButton img:hover{
    transform: scale(1.1);
}

.fightBox {
    height: 60vh;
    width: 98%;
    padding: 10px;
    overflow: scroll;
}

.enemyStats{
    height: 16vh;
    width: 100%;
}

.attr{
    position: absolute;
    right: 10%;
    top: 6%;
}

.add{
    float: right;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: rgb(40,40,40);
    cursor: pointer;
}

.add:hover{
    background-color: rgb(60,60,60)
}

.qty{
    color: white;
    position: relative;
    top: 85%;
}

.eqSlot{
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .2s;
    cursor: pointer;
}

#potionhp{
    background-image: url("images/redpot.png");
}

#potionhp:hover{
    background-color: rgb(120,70,70);
    transform: scale(1.1)
}

#potionmana{
    background-image: url("images/bluepot.png");
}

#potionmana:hover{
    background-color: rgb(70,100,120);
    transform: scale(1.1);
}




























