.logo{
    width: 80%;
    margin-bottom: 5vh;
    margin-left: 10%;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 6rem;
    margin-top: 5rem;
}

.logo1{
    color: white;
}

.logo2{
    color: white;
    margin-left: -3rem;
}

.transparentText{
    color: crimson; 
    transition: 2s;
}

.transparentText i{
    font-size: 5rem;
    position: absolute;
    left: 22%;
    top:22%;
}

.quote{
    height: auto;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    letter-spacing: .1rem;
    margin-bottom: 5vh;
}

.quote i{
    font-size: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.frameBox{
    width: 80%;
    height: auto;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.frame{
    height: 20vw;
    width: 20vw;
}

.elementGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    width: 80%;
    margin: 10%;
    transform: rotate(0deg);
    transform: scale(1);
    transition: .3s;
}

.arrow1{
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.arrow2{
    height: 100%;
    width: 100%;
    transform: rotate(-45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.arrow3{
    height: 100%;
    width: 100%;
    transform: rotate(135deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.arrow4{
    height: 100%;
    width: 100%;
    transform: rotate(-135deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.square{
    width: 150%;
    margin-left: -24%;
    height: 150%;
    margin-top: -24%;
    transform: rotate(0deg);
    background-color: white;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-width: 960px){
    .transparentText i{
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 800px){
    .transparentText i{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px){
    .transparentText i{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1024px){
        .arrow1{
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        border-top: 4px solid white;
        border-left: 4px solid white;
    }

    .arrow2{
        height: 100%;
        width: 100%;
        transform: rotate(-45deg);
        border-top: 4px solid white;
        border-left: 4px solid white;
    }

    .arrow3{
        height: 100%;
        width: 100%;
        transform: rotate(135deg);
        border-top: 4px solid white;
        border-left: 4px solid white;
    }

    .arrow4{
        height: 100%;
        width: 100%;
        transform: rotate(-135deg);
        border-top: 4px solid white;
        border-left: 4px solid white;
    }
}

@media only screen and (max-width: 650px){
        .arrow1{
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        border-top: 3px solid white;
        border-left: 3px solid white;
    }

    .arrow2{
        height: 100%;
        width: 100%;
        transform: rotate(-45deg);
        border-top: 3px solid white;
        border-left: 3px solid white;
    }

    .arrow3{
        height: 100%;
        width: 100%;
        transform: rotate(135deg);
        border-top: 3px solid white;
        border-left: 3px solid white;
    }

    .arrow4{
        height: 100%;
        width: 100%;
        transform: rotate(-135deg);
        border-top: 3px solid white;
        border-left: 3px solid white;
    }
}


































